.form-block__title {
    font-size: calc(24px + 16 * (100vw / 1377));
    min-width: 320px;
    margin: 0 0 84px;
}

@media (max-width: 1000px) {
    .form-block__title {
        margin: 75px 0 20px;
    }
}