.header {
    max-width: 1230px;
    min-width: 320px;
    margin: 0 auto;
    padding: calc(100vh / 18) 0 calc(100vh / 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 1300px) {
    .header {
        padding-left: calc(100vw / 20);
        padding-right: calc(100vw / 20);
    }
}