.header {
    max-width: 1230px;
    min-width: 320px;
    margin: 0 auto;
    padding: calc(100vh / 13) calc(100vw / 20) calc(100vh / 8);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

