.place__paragraph {
  max-width: 390px;
  margin: 2em;
  font-size: calc(10px + 6 * (100vw / 1377));
  line-height: calc(14px + 6 * (100vw / 1377));
  align-self: baseline;
  justify-self:last baseline;
}
